.btn {
  position: fixed;
  bottom: 20px;
  right: 5px;
  background: transparent;
  border: none;
  z-index: 100;
}

.icon {
  border-radius: 50%;
  height: 80px;
  width: 80px;
  fill: #2247eec6;
  opacity: 0.8;
}

.icon:hover {
  fill: #1b3ed6;
}
