/* ImageCard.module.css */

.image-card {
  width: 450px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.img {
  width: 420px;
  height: 250px;
  object-fit: cover;
  cursor: pointer;
}

.image-card:hover {
  transform: scale(1.05);
}

.likes {
  color: black;
}

.info-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #cacaca;
  width: 93.5%;
  background-color: #e6e6e6;
}

.like-icon {
  width: 24px;
  height: 24px;
}
